<div id="about-container">
  <div id="about-text-container">
    <h1 id="about-maintext">MemoAppとは</h1>
    <p id="about-subtext1">シンプルで直観的な操作が可能なメモ帳アプリです。</p>
    <p id="about-subtext2">メモを素早く記録し、整理し、いつでも確認できます。</p>
  </div>
  <div id="about-photos">
    <p>photos</p>
  </div>
</div>